@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using MinimalProblem.Data
@using MinimalProblem.Models
@inject WeatherForecastService ForecastService
@inject GameService GameService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach(var name in PlayerNames)
    {
        <div>name</div>
    }

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    private Game game;
    private List<string> PlayerNames = new List<string>();


    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        game = await GameService.GetGameAsync();

        var names = game.Players.Select(p => p.Name).ToList();
        PlayerNames = names;
    }
}
